{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <title>Volunpet</title>
</head>
<body>

  <header>
    <div class="texto-header">
      <h2>Volunpet</h2>
    </div>
    <input class="search__header" type="text" name="search" id="search" placeholder="Pesquisar...">
    <nav>
      <ul>
        <a href="#"><li>Contato</li></a>
        <a href="#"><li>Cadastrar animal</li></a>
        <a href="/login"><li class="login">Login</li></a>
        <a href="/registre"><li class="login">Registre</li></a>
        {% if user.is_authenticated%}
        <a href="/logout"><li class="login">Logout</li></a>
        {% endif %}
      </ul>
    </nav>
  </header>

  <h1 style="text-align: center; margin-top: 60px;">Ajudar os animais <span style="color: rgb(111, 180, 117);">é um ato de amor 💓</span></h1>

  <section class="main__container">
    <main>
      <h3>Posts recentes</h3>
      <section class="catalogo">
        <div class="box-post">
          <div class="box-post-img">
            <img src={% static "img/caes-precisando-de-ajuda.jpg" %} alt="Cães precisando de ajuda">
          </div>
          <div class="box-post-dados">
            <h4>Prévia do post</h4>
            <p>Uma pequena descrição do post</p>
            <span><a href="#">Ver mais</a></span>
          </div>
        </div>

        <div class="box-post">
          <div class="box-post-img">
            <img src={% static "img/gatos-precisando-de-ajuda.jpg"%}  alt="Cães precisando de ajuda">
          </div>
          <div class="box-post-dados">
            <h4>Prévia do post</h4>
            <p>Uma pequena descrição do post</p>
            <span><a href="#">Ver mais</a></span>
          </div>
        </div>

        <div class="box-post">
          <div class="box-post-img">
            <img src={% static "img/aves-precisando-de-ajuda.jpg" %} alt="Cães precisando de ajuda">
          </div>
          <div class="box-post-dados">
            <h4>Prévia do post</h4>
            <p>Uma pequena descrição do post</p>
            <span><a href="#">Ver mais</a></span>
          </div>
        </div>

        <div class="box-post">
          <div class="box-post-img">
            <img src={% static "img/caes-precisando-de-ajuda.jpg"%}>
          </div>
          <div class="box-post-dados">
            <h4>Prévia do post</h4>
            <p>Uma pequena descrição do post</p>
            <span><a href="#">Ver mais</a></span>
          </div>
        </div>
      </section>

      <section class="contribua__section">
        <h3>Contribua com o projeto criando um post</h3>

        <div class="contribua">
          <div class="contribua-dados">
            <p>Você pode cadastrar um post colocando
              informações como fotos e a localidade do animal em situação de rua.</p>
            <a href="#"><input type="button" value="Cadastrar um post"></a>
          </div>
        </div>
      </section>
    </main>
  </section>


  <footer>
    <p>Criado por alunos da Sirius | Todos os direitos reservados</p>
  </footer>
</body>
</html>
